 # Predicting Book Success

In [1]:
#Import Dependencies
from path import Path
import pandas as pd

In [2]:
#Import the dataset
data = Path('books_clean.csv')
df = pd.read_csv(data)

# We can see from the preview of the DataFrame that multiple variables (also called features), such as the isbn13,
#published_year, average_rating, num_pages, ratings_count, can be used to predict the outcome: whether a book will have a good 
#rating (1) or will not (0) based on the fact that an average rating below of 4.5 will not likely be successful

df.loc[df['Rating'] <= 4.5, 'Rating_Classification'] = 'Low_Rating' 
df.loc[df['Rating'] > 4.5, 'Rating_Classification'] = 'High_Rating'

df.reset_index(inplace=True, drop=True)
df.head()

,ISBN,Rating,Price,Pages,Rating Count,Language_Dummy,Size_Dummy,Famous_Dummy,Categories_Dummy,Serie_Dummy,Rating_Classification
0,9.780000e+12,4.49,7.38,870,1996446,English,Big,Famous,Top_Category,Serie,Low_Rating
1,9.780000e+12,3.59,2.10,498,4367341,English,Big,Other,Other,Serie,Low_Rating
2,9.780000e+12,4.59,21.15,1728,97731,English,Big,Famous,Top_Category,Serie,High_Rating
3,9.780000e+12,3.84,2.73,464,1041597,English,Big,Other,Top_Category,Other,Low_Rating
4,9.780000e+12,4.11,5.46,532,1328143,English,Big,Other,Top_Category,Other,Low_Rating

In [3]:
# We will check for the variables from all columns
df.dtypes

ISBN                     float64
Rating                   float64
Price                    float64
Pages                      int64
Rating Count               int64
Language_Dummy            object
Size_Dummy                object
Famous_Dummy              object
Categories_Dummy          object
Serie_Dummy               object
Rating_Classification     object
dtype: object

In [4]:
#Count the current NaN values from the dataframe
df.isnull().sum().sum()

0

In [5]:
#Drop all the NaN values
df.dropna(inplace=True)

In [6]:
#Recount all the NaN values to make sure they are dropped
df.isnull().sum().sum()

0

In [7]:
#Use method to convert String to int
def rating(x):
    if x == 'Low_Rating':
        return 0
    if x == 'High_Rating':
        return 1

In [8]:
#Apply the method to the rating_classification column
df['Rating_Classification'] = df['Rating_Classification'].apply(rating)

In [9]:
#Use method to convert String to int
def binary(x):
    if x == 'Other':
        return 0
    if x == 'English'or 'Big' or 'Famous' or 'Serie' or 'Top_Category':
        return 1

In [10]:
#Apply the method to the rating_classification column
df['Size_Dummy'] = df['Size_Dummy'].apply(binary)

In [11]:
df['Serie_Dummy'] = df['Serie_Dummy'].apply(binary)

In [12]:
df['Famous_Dummy'] = df['Famous_Dummy'].apply(binary)

In [13]:
df['Language_Dummy'] = df['Language_Dummy'].apply(binary)

In [14]:
df['Categories_Dummy'] = df['Categories_Dummy'].apply(binary)

In [15]:
#Create a new dataframe with the target variables
df.tail(50)

,ISBN,Rating,Price,Pages,Rating Count,Language_Dummy,Size_Dummy,Famous_Dummy,Categories_Dummy,Serie_Dummy,Rating_Classification
1881,9.780000e+12,4.08,4.99,294,5255,1,0,1,0,0,0
1882,9.780000e+12,3.85,3.97,150,1357,1,1,1,1,0,0
1883,9.780000e+12,4.01,4.54,240,2714,1,1,0,0,0,0
1884,9.780000e+12,4.22,7.73,192,2687,1,0,0,1,0,0
1885,9.780000e+12,4.20,4.14,502,2326,1,1,0,0,0,0
1886,9.780000e+12,4.07,1.92,452,21141,1,0,1,1,0,0
1887,9.780000e+12,4.09,4.16,368,3663,1,0,0,1,1,0
1888,9.780000e+12,3.36,1.92,272,15787,1,1,1,1,1,0
1889,9.780000e+12,3.89,2.86,384,3607,1,1,1,1,0,0
1890,9.780000e+12,4.10,5.28,352,3479,1,1,0,1,1,0
1891,9.780000e+12,4.00,2.00,320,6765,1,0,0,0,1,0
1892,9.780000e+12,3.68,2.60,165,22632,1,1,0,1,0,0
1893,9.780000e+12,4.25,2.84,24,20885,1,1,0,1,0,0
1894,9.780000e+12,4.10,14.91,352,414,1,1,0,0,0,0
1895,9.780000e+12,3.67,1.42,237,1264,1,1,1,1,0,0
1896,9.780000e+12,3.87,2.04,215,5656,1,1,1,1,1,0
1897,9.780000e+12,3.96,3.98,367,2077,1,1,1,1,0,0
1898,9.780000e+12,3.67,9.51,181,1939,1,1,1,1,0,0
1899,9.780000e+12,3.79,0.88,160,5789,1,1,0,1,0,0
1900,9.780000e+12,3.66,5.23,361,1812,1,1,0,1,0,0
1901,9.780000e+12,3.78,6.55,419,5242,1,1,1,1,0,0
1902,9.780000e+12,4.15,3.58,112,5191,1,1,1,1,0,0
1903,9.780000e+12,4.15,2.28,672,2211,1,1,1,1,0,0
1904,9.780000e+12,4.37,4.96,80,2503,1,1,1,0,0,0
1905,9.780000e+12,3.94,12.00,188,517,1,0,0,0,0,0
1906,9.780000e+12,3.61,5.38,386,1259,1,1,0,1,0,0
1907,9.780000e+12,3.75,6.06,319,1275,1,0,0,1,0,0
1908,9.780000e+12,3.88,6.69,399,823,1,1,1,1,0,0
1909,9.780000e+12,3.91,5.68,228,1652,1,1,0,0,0,0
1910,9.780000e+12,3.84,45.45,240,331,1,0,0,1,1,0
1911,9.780000e+12,3.92,2.92,320,31485,1,1,1,1,0,0
1912,9.780000e+12,3.32,1.64,384,3603,1,1,1,1,0,0
1913,9.780000e+12,4.01,22.01,368,991,1,0,1,1,0,0
1914,9.780000e+12,3.82,14.00,322,24973,1,1,1,1,0,0
1915,9.780000e+12,3.66,3.66,336,18820,1,1,1,0,1,0
1916,9.780000e+12,4.01,13.75,191,319,1,1,1,1,0,0
1917,9.780000e+12,4.19,5.70,347,213,1,0,0,1,0,0
1918,9.780000e+12,4.38,13.93,482,4965,1,0,0,0,0,0
1919,9.780000e+12,3.88,5.79,320,1262,1,1,1,0,0,0
1920,9.780000e+12,3.83,3.74,214,13645,1,1,1,1,1,0
1921,9.780000e+12,3.99,5.56,356,3967,1,1,1,1,1,0
1922,9.780000e+12,3.76,3.19,216,22369,1,1,1,1,1,0
1923,9.780000e+12,4.39,15.14,1008,504,1,1,1,1,0,0
1924,9.780000e+12,3.53,5.69,289,3471,1,1,0,1,0,0
1925,9.780000e+12,3.44,3.28,142,5028,1,1,0,1,0,0
1926,9.780000e+12,3.78,3.89,341,6092,1,1,1,1,1,0
1927,9.780000e+12,4.30,3.59,99,599,1,1,0,1,0,0
1928,9.780000e+12,4.08,3.12,518,5356,1,1,0,1,1,0
1929,9.780000e+12,4.02,3.59,320,4455,1,1,0,1,0,0
1930,9.780000e+12,3.64,3.52,291,580,1,1,1,1,0,0

##  Separate the Features (X) from the Target (y)

In [16]:
#The Outcome column is defined as y, or the target.
#X, or features, is created by dropping the Outcome column from the DataFrame.

y = df["Rating_Classification"]
X = df.drop(columns=["Rating_Classification"])

 ## Split our data into training and testing

In [17]:
#We first split the dataset into training and testing sets
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1, 
                                                    stratify=y)
X_train.shape

(1448, 10)

In [18]:
#Examining the shape of the training set with X_train.shape returned (1636,5), meaning that there are 1636 samples (rows) and 
#five features (columns).

In [19]:
#The next step was to create a logistic regression model with the specified arguments for solver, max_iter, and random_state
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs',
                                max_iter=200,
                                random_state=1)

In [20]:
#we trained the model with the training data
classifier.fit(X_train, y_train)

C:\Users\maria\anaconda3\envs\mlenv\lib\site-packages\sklearn\linear_model\_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=2):
ABNORMAL_TERMINATION_IN_LNSRCH.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression(max_iter=200, random_state=1)

In [21]:
#To create predictions for y-values, we used the X_test set
y_pred = classifier.predict(X_test)
results = pd.DataFrame({"Prediction": y_pred, "Actual": y_test}).reset_index(drop=True)
results.tail(20)

     Prediction  Actual
463           0       0
464           0       0
465           0       0
466           0       0
467           0       0
468           0       0
469           0       0
470           0       0
471           0       0
472           0       0
473           0       0
474           0       0
475           0       0
476           0       0
477           0       0
478           0       0
479           0       0
480           0       0
481           0       0
482           0       0

In [22]:
#The final step is to measure the accuracy of the logistic regression model created

from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

0.9834368530020704

In [23]:
#taking into account that the accuracy score is simply the percentage of predictions that are correct. In this case, 
#the model's accuracy score was 0.9834, meaning that the model was correct 98.34% of the time.

In [24]:
#  import the relevant modules for validation and print the confusion_matrix
from sklearn.metrics import confusion_matrix, classification_report
matrix = confusion_matrix(y_test, y_pred)
matrix_df = pd.DataFrame(
    matrix, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])
matrix_df

          Predicted 0  Predicted 1
Actual 0          475            0
Actual 1            8            0

In [25]:
# Report of sensitivity, precission and F1. La línea 0 se aplica al predictor de diabetes como hipótesis alternativa
report = classification_report(y_test, y_pred)
print(report)

C:\Users\maria\anaconda3\envs\mlenv\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\maria\anaconda3\envs\mlenv\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

              precision    recall  f1-score   support

           0       0.98      1.00      0.99       475
           1       0.00      0.00      0.00         8

    accuracy                           0.98       483
   macro avg       0.49      0.50      0.50       483
weighted avg       0.97      0.98      0.98       483

C:\Users\maria\anaconda3\envs\mlenv\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))